header + main {
    border: 5px solid blue;
} 

header ~ main {
    border: 5px solid blue;
} 

a[title="Meu logo"] { 
    color: red;
}

a[class*="btn"] {  
    /* se comporta não só como um elemento de linha, um link ou texto. Irá se comportar como um elemento de linha
     * mas também como um bloco, como um div por exemplo. 
     */
    display: inline-block; /* o display inline significa que é um elemento que está em uma linha, ele segue a linha do texto. */
    text-decoration: none;  
    background-color: #ecf0f1;
    color: #7f8c8d;
    padding: 10px 20px; 
    border-radius: 10px;
}

.btn:hover {
    background-color: #dbdedff1;
}

/* 
.btn:hover {
    background-color: #c04b3eec;
}  */

.btn-red {
    background-color: #c04b3eec !important;
    color: #fff !important;
}

.btn-red:hover {
    background-color: red !important;
}

.btn-blue {
    background-color: #3498db !important;
    color: #fff !important;
}

.btn-blue:hover {
    background-color: #2980b9 !important;
}

.btn-green {
    background-color: #1abc9c !important;
    color: #fff !important;
}

.btn-green:hover {
    background-color: #16a085 !important;
}
