/* link de fontes: https://fonts.google.com/ 
 * A fonte padrão do windows é Times New Roman
 */

/* se remover o import ele para de funcionar, pois o import está importando os botões do arquivo
 * botoes.css para esse arquivo que será utilizado no html. Basta apenas linkar o arquivo styles.css no html
 */

body {
    padding: 10px;
    background-color: #ccc;
    /* alterar a fonte da página. Se a Arial não for encontrada usará a Helvetica, se a Helvetica
     * não for encontrada usará a sans e assim por diante. Se não encontrar nenhuma usará a padrão. Times New Roman */
    font-family: Montserrat, Helvetica, sans-serif;
    /* font-family: Roboto, Helvetica, sans-serif; A fonte Roboto é usada no android. */

    /* tamanho da fonte, pode ser em porcentagem, pixel, vh e etc... vh é um valor relativo ao tamanho da tela
     * o vh é responsivo, ou seja, se adapta conforme o tamanho da tela (aumentando e diminuindo). O px e a
     * porcentagem fica algo mais fixo.
     */
    /* font-size: 10vh;   */
    font-size: 16px; /* o padrão em css é usar o tamanho em pixel. */

    /* grossura da letra, padrão é 400. */
    font-weight: 400; 
    /* font-weight: bold; é negrito.  */
    /* font-weight: inherit; é valor herdado.  */
    /* font-weight: initial; é o valor inicial do navegador.  */
    /* font-weight: lighter; é a fonte fina(grossura).  */

}
/* pegar nossa classe .box e estilizá-la */
.box {
    background: white;
    /* margem externa, para margem temos 4 possíveis valores. O primeiro é a margem superior(de cima), o segundo 
     * é a margem esquerda, o terceiro é a margem inferior e por último a margem direita. Em ordem sentido horário
     */
    margin: 20px 60px 90px 120px;
    /* margem interna, usar a mesma regra da margem externa, a diferença é o nome do atributo para padding. */
    padding: 20px 60px 90px 120px;

    /* borda */
    border: 3px solid #000;

    /* estilos de borda */
    border-style: inset;
    border-radius: 10vh;

    /* em versões antigas de browsers o padding e border não aplicam se não tiver utilizando o display: inline-block */
}    

/* colocar todos os elementos dentro de display. */
#display * {
    display: inline;
    /* sobre visibilidade, temos o atributo opacity, que tem valor de 0 a 1, sendo 0 = nada e 1 totalmente. */
    opacity: 0.5; /* isso é a transparência do elemento. Se colocar 0 o elemento não será visível mas permanece lá*/
    
    /* temos também o visibility, funciona como o opacity porém não tem meio termo, ou mostra ou não mostra.*/
    /* visibility: hidden; */

    /* temos por último o próprio display. */
    display: none; /* também irá ocultar o elemento, mas não como o opacity. Nesse caso ele oculta o elemento.*/
}